<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ramon Martinez Jimenez</h1>
	<p><img src="../public/images/ramon.jpg" alt="Ramon"></p>
    

  </body>
