<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz: el juego de las preguntas</h1>
<p>
Edite la pregunta
</p>

<p>
  <form method="post" action="/quizzes/<%= quiz.id %>?_method=PUT" enctype="multipart/form-data" >      
     <% include _form.ejs %>
  </form>
</p>

</body>
</html>
