<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>El juego de las preguntas</h1>
    

    <form method='get' action="/check">
     Pregunta: <%= question %> <p>
     <input type="text" name="answer" value="<%= answer %>" placeholder="Responde aqui"/>
     <input type="submit" value="Comprobar">
    </form>
   

  </body>
</html>
